*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}

:root{
    --base: #80c7dd;
    --color1: #000;
    --color2: #fff;
}

body{
    background-color: var(--color1); 
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: var(--color1)
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, var(--color1), var(--color2));
    border-radius: 10px;
}

/* // //////////////////////////////// header ///////////////////////////////// */

.header{
    height: 10vh;
    background-color: var(--color1); 
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color2); 
    display: flex;
    align-items: center;
    padding-left:2rem;
    padding-right: 2rem; 
    justify-content: space-between;
}

.header h3{
    color: var(--base);
}

.nav-bar{
    display: flex;
    gap: 1rem;
}

.nav-bar a{
    text-decoration: none;
    color: var(--color2);
}

.nav-bar a:hover{
    transform: scale(1.1);
    color: var(--base);
}

/* // //////////////////////////////// home ///////////////////////////////// */

.home{
    height: 100vh;
    background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-div{
    backdrop-filter: blur(10px);
    margin-top: 5%;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-content h1{
    font-size: 5rem;
}

.home-content p{
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.home-contct{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-contct button ,.button-about{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: #fff solid 0px;
    margin-top: 5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color2);
    font-weight: 700;
    background-color: var(--color1); 
}

.home-contct button:hover , .button-about:hover{
    background-color:  var(--color2); 
    color: var(--color1); 
    cursor: pointer;
    transition: 0.3s ease;
}

/* // ////////////////////////////////// about /////////////////////////////// */

.about{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color1); 
    color:var(--color2); 
}

.about-top{
    height: 80vh;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.about h1,.services h1{
    padding-top: 5%;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--base);
}

.about-top p{
    margin-top: 2rem;
    font-size: 0.85rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about-bottom{
    color: var(--color2);
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
 
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px var(--color2);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}
  
.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}
  
.svgIcon path {
    fill: var(--color2);
}
  
.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--base);
    align-items: center;
    
}
  
.button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}
  
.button::before {
    position: absolute;
    content: "Back to Top";
    color: var(--color1);
    font-weight: 700;
    font-size: 0px;
}
  
.button:hover::before {
    font-size: 1rem;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

.button-about{
    color: var(--color1);
    background-color: var(--color2);
    margin-bottom: 5rem;
}

.button-about:hover{
    background-color:  var(--base); 
    box-shadow: 0px 0px 0px 4px var(--color2);
}

/* /////////////////////////////////// services ///////////////////////////////// */

.services{
    height: 100vh;
    background-color: var(--color3); 
    color:var(--color2); 
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.img-divs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 0.5rem;
}

.serv-imgs{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.serv-imgs img{
    width: 300px;
    height: 120px;
}

/* // //////////////////////////////// contact ///////////////////////////////// */

.Contact{
    height: 90vh;
    display: flex;
}

.contact-right{
    height: 90vh;
    width: 50%;
    background-color:var(--color1);
    color: var(--color2);
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 7rem;
}

.contact-right h1{
    font-size: 4rem;
    color: var(--base);
}

.contact-right i{
    font-size: 2rem;
    color: var(--color2);
}

.icon-contact{
    display: flex;
    gap: 2rem;
}

.contact-right i:hover{
    font-size: 2rem;
    color: var(--base);
    transform: scale(1.1)translateY(-5px);
}

.contact-left{
    height: 90vh;
    background-color:var(--color1);
    width: 50%;
    padding: 1rem;
    overflow: hidden;
    position: relative;
}

.slides img{
    height: 85vh;
    width: 100%;
    background-size: cover;
    border-radius: 1rem;
}

.slides {
    position: relative;
    box-shadow: 0 0 2rem var(--base);
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}

.slide {
    position: absolute;
    opacity: 0;
    inset: 0;
    animation: slider-show 20s infinite; 
}

.slide1 {
    animation-delay: 0s; 
}

.slide2 {
    animation-delay: 3s; 
}

.slide3 {
    animation-delay: 9s; 
}

.slide4 {
    animation-delay: 15s;
}

@keyframes slider-show {
    0%, 16.66% {
        opacity: 0;
    }
    16.66%, 33.33% {
        opacity: 1;
    }
    33.33%, 100% {
        opacity: 0;
    }
}
